@font-face {
    font-family: cascadia code;
    src: url(.fonte/cascadia-code/CascadiaCode-Regular-VTT.ttf);
}

@font-face {
    font-family: press start;
    src: url(.fonte/press-start-2p/PressStart2P.ttf);
}

body {
    margin: 0;
}

p{
    font-family: cascadia code;
}

h1 {
    font-family: cascadia code;
    font-size: 80px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.bg-color-1 {
    background-color: #A2B38B;
    padding-top: 100em;
    padding-bottom: 100em;
}

.grid-cols-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image1 {
    width: 628px;
    height: 376px;
    flex-shrink: 0;
    
}

.quadro {
    width: 628px;
    height: 376px;
    margin: 62px;
    /* object-fit: cover; */
    border-radius: 5px;
}
.text-green {
    color: #386641;
}
